.navbar-container{
    height: 30px;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 6, 33);
    color: antiquewhite;
    font-size: 1.3rem;
}
.logo{
    margin: 0 30px;
    
}
.logo>a{
    text-decoration: none;
    color: inherit;
}
.nav-links>ul{
    margin: 0 30px;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links>ul>a{
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
}
.nested-nav-links>a{
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
#hamburger{
    background: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    display: none;
    padding: 20px;
}
.drop-down{
    position: absolute;
    z-index: 10;
    top: 28px;
    right: 0;
}
.drop-down>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:rgb(65 66 72) ;
}
.drop-down>ul>li{
    padding: 20px;
    color: antiquewhite;
}
.drop-down>ul>a{
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
}
.drop{
    position: absolute;
    top: 30px;
    background-color:rgb(32, 6, 33);
    display: flex;
    flex-direction: column;
    padding: 0;
}
.drop>a{
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
}
.yes{
    display: '';
}
.no{
    display: none;
}

@media screen and (max-width: 990px){
    .nav-links{
        display: none;
    }
    #hamburger{
        display: block;
    }
}